* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #6B3E26;
    font-family: 'Segoe UI', system-ui, sans-serif;
    line-height: 1.6;
    color:#333333;
}
.main{
    background-image:url("dessertimages/background.jpg");
     height: 630px;
    width: 1535px;
    background-size: cover;
    text-align: center;
}
 .main h1{
   font-size: 50px;
   color:#0D1B4C;
    padding-top:70px;
    height: 50px;
    text-align: center;
   
 }    
 .main p {
    font-size: 20px;
    margin: 70px 0 0 0;
    color:#0D1B4C;
    text-align: center;
}
.main a{
    color:#F3E5D8;
    background-color: #6B3E26;
    border-radius: 50px;
    margin-top: 280px;
    margin-right:80px;
    padding: 18px 40px;
     font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    
}
.main a:hover{
   transform: translateY(-5px);
}
.recipes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.h2{
    text-align: center;
    color:#F3E5D8 ;
    margin-top: 50px;
    margin-bottom:50px ;
}
.recipe-card {
    height: 400px;
    background:#F3E5D8;
    border-radius: 40px;
    padding: 25px;
    box-shadow: 0px 0px 2px white;
    background-size: 400px 500px;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 0px 0px 3px black;
}

.recipe-card:hover {
    
    transform: translateY(-5px);
}

.recipe-card a {
    margin-top: auto;
    align-self: center;
    margin-top: 250px;
    margin-left: 90PX;
    padding: 10px 30px;
    text-align: center;
    border-radius: 20px;
    background-color: #6B3E26;
    color:#F3E5D8;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    display: inline-block;
}

.recipe-card a:hover {
    transform: translateY(-5px);
}

#tiramisu,
#blackforest-cheesecake,
#brownie,
#strawberryCake,
#CrèmeCaramel,
#cupcake{
    color:white;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0px 0px 3px black;
}

#tiramisu,
#tiramisu-card{
    background-image: url(dessertimages/tiramisu.jpg);
}
#blackforest-cheesecake,
#blackforest-cheesecake-card{
    background-image: url(dessertimages/blackforest.jpg);
}
#brownie,
#brownie-card{
    background-image: url(dessertimages/brownie.jpg);
}
#strawberryCake,
#strawberryCake-card{
    background-image: url(dessertimages/strawberrycake.jpg);
}
#CrèmeCaramel,
#CrèmeCaramel-card{
    background-image: url(dessertimages/creamecramel.jpg);
}
#cupcake,
#cupcake-card{
    background-image: url(dessertimages/cupcake.jpg);
}

.details-card {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    height: 600px;
    width: 500px;
    border-radius: 40px;
    padding: 25px;
    background-size: cover;
    background-position: center;

}

.recipe-content-box {
    margin-top: 85px;
    color: #0D1B4C;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 40px;
    padding: 20px;
    text-shadow: 0px 0px 10px white;
}
.recipe-content-box p ,h3{
    color:#643305;
  
}
.recipe-content-box ul{
    
    list-style: none;
}

.heart {
     margin-top: auto;
    align-self: center;
    margin-top: 20px;
    margin-left: 170PX;
    padding: 0px 30px;
    font-size: 40px;
    color: white;   
    cursor: pointer;
    text-shadow: 0 0 1px  #6B3E26; 
    transition: all 0.3s ease;
    display: inline-block;
     text-align: center;
    border-radius: 20px;
    background-color: #6B3E26;
}


.heart:hover {
   transform: translateY(-5px);
}
@media only screen and (max-width: 800px) {

    .main {
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
        padding: 40px 20px;
        text-align: center;
    }

    .main h1 {
        font-size: 28px;
        padding: 40px 10px;
    }

    .main p {
        font-size: 16px;
        padding: 20px 10px;
    }

    .main a {
        margin: 20px auto;
        display: table;
        font-size: 14px;
        padding: 10px 20px;
    }

    .detials-card {
        width: 90%;
        height: auto;
        max-height: 80vh;
    }

    .recipe-card {
        height: 400px;
        padding: 10px;
        background-size: cover;
        background-position: center;
    }

    .recipe-card a {
        margin: 120px auto;
        display: table;
        font-size: 14px;
        padding: 8px 20px;
    }

    .recipes-container {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 10px;
        height: fit-content;
    }
#tiramisu,
#blackforest-cheesecake,
#brownie,
#strawberryCake,
#CrèmeCaramel,
#cupcake,
#tiramisucard,
#blackforest-cheesecakecard,
#browniecard,
#strawberryCakecard,
#CrèmeCaramelcard,
#cupcakecard
    
    {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
        text-shadow: 0px 0px 3px black;
    }

     .detials-card {
        width: 90%;       
        height: 800px;     
        max-height: 80vh; 
        padding: 15px;
        border-radius: 20px;
    }

    .recipe-content-box {
        margin-top: 20px;
        height: auto;  
        padding: 15px;
        border-radius: 20px;
        font-size: 14px;  
    }

    .btn-main {
        margin: 20px auto;   
        display: table;
        font-size: 14px;    
        padding: 8px 20px;   
        border-radius: 15px;
        background: var(--golden-earth);
        color: white;
    }
}