* {
  margin: 0;
  padding: 0;
}

/* :root {
  --primary-color: #5b4e3f;
  
  --primary-hover: #b78f66;
  

  --bg-color: #f1dcbe;
   
  --card-bg: #ffffff;


  --text-main:#2e2720;
  --text-muted: #7a7a7a;
} */

:root {

  --primary-color: #711010;
  --primary-hover: #940f0f;

  --secondary-color: #4b2e2b;

  --bg-color: #1f1515;
  --card-bg: #2a1c1c;

  --text-main: #f5e9e9;
  --text-muted: #c9a9a9;

  --border-light: #3a2a2a;
  --shadow: rgba(0, 0, 0, 0.3);
}

.hero {
  height: 600px;
  position: relative;

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  color: white;
}

/* Overlay عشان النص يبان */
.hero .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  /* غامق خفيف */
  top: 0;
  left: 0;
}

/* المحتوى */
.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 20px;
}

/* العنوان */
.hero-title {
  /* margin-top: 5px; */
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--text-main);

  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
}

/* الوصف */
.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* go back */
.big-arrow-btn {
  font-size: 24px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(234, 221, 212);
  transition: transform 0.2s;
  padding: 0 10px;
  display: flex;
  align-items: center;
}


.big-arrow-btn:hover {
  transform: translateY(-1.5px);

  text-shadow: 0 0 15px rgb(255, 255, 255, 0.5);
  transform: scale(1.2);
}


/* صور مختلفة لكل صفحة */
.drinks-hero {
  background-image: url("drinksimages/drink2.png");
}

.coffee-hero {
  background-image: url("drinksimages/cof.png");
}

.juice-hero {
  background-image: url("drinksimages/juce.png");
}

.hot-drinks-hero {
  background-image: url(drinksimages/hotdrinksh.png);
}

body {
  background-color: #faf8f5;

}

h2 {
  text-align: center;
}

#coffee,
#juices,
#hot_drinks,
#Cappuccino,
#icedcoffee,
#arabcoffee,
#Smoothie,
#smothie2,
#strawberrylemo,
#arabcoffee-card,
#icedcoffee-card,
#cappuccino-card,
#strawberrylemo-card,
#smothie2-card,
#smoothie-card,
#hot-chocolate-card,
#hot-chocolate,
#turkish-tea-card,
#turkish-tea,
#Hibiscus-tea,
#Hibiscus-tea-card {
  background-position: center;
  background-size: cover;
}




#coffee {
  background-image: url(drinksimages/cof2.png);

}

#juices {
  background-image: url(drinksimages/juices.jpeg);

}

#hot_drinks {
  background-image: url(drinksimages/hotdrinks.jpeg);

}


#Cappuccino,
#Cappuccino-card {
  background-image: url(drinksimages/Cappuccino.jpeg);

}

#icedcoffee,
#icedcoffee-card {
  background-image: url(drinksimages/Caramel\ Hazelnut\ Iced\ Coffee.jpeg);

}

#arabcoffee,
#arabcoffee-card {
  background-image: url(drinksimages/arabcoffe.jpeg);

}

#Smoothie,
#Smoothie-card {
  background-image: url(drinksimages/Smoothie.jpeg);

}

#smothie2,
#smothie2-card {
  background-image: url(drinksimages/Pineapple\ Mango\ Smoothie.jpeg);

}

#strawberrylemo,
#strawberrylemo-card {
  background-image: url(drinksimages/Strawberry\ Lemonade.jpeg);

}

#hot-chocolate,
#hot-chocolate-card {
  background-image: url(drinksimages/Hot\ Chocolate.jpeg);
}

#turkish-tea,
#turkish-tea-card {
  background-image: url(drinksimages/Turkishtea.jpeg);
}

#Hibiscus-tea,
#Hibiscus-tea-card {
  background-image: url(drinksimages/Hibiscustea.jpeg);
}

#recipesss {
  color: var(--primary-color);
}



.recipe-content-box {
  margin-top: 20px;

  height: auto;
  padding: 15px;
  border-radius: 20px;
  font-size: 14px;
  overflow-y: auto;
}

.recipe-card {
  height: 400px;
  background: #faf8f5;
  border-radius: 40px;
  background-repeat: no-repeat;
  border: 0ch;
  color: white;
  text-shadow: 0px 0px 10px black;

  display: flex;
  flex-direction: column;

  padding: 25px;
  
}

.details-card {
  display: none;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-image: no-repeat;
  background-size: cover;
  z-index: 1000;
  height: 600px;
  width: 500px;
  border-radius: 40px;
  padding: 25px;
  background-size: cover;
  background-position: center;


}


.recipe-content-box {
  margin-top: 50px;
  margin-bottom: 50px;
  color: black;
  height: 500px;
  background-color: rgba(235, 230, 230, 0.614);
  border-radius: 40px;
  padding: 20px;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);





}

.details-card span {
  cursor: pointer;
  font-size: 18px;
  color:white;
  width: 90%;
  height: auto;
}




.btn-main {
  margin-top: auto;
  /* دي أهم حركة 👈 */

  align-self: center;
  /* في النص */
  border-radius: 10px;

  padding: 8px 20px;
  border: none;
  cursor: pointer;
}

.heart {
    margin-top: 100px;
    align-self: center;
    width: 10px;  
    padding: 5px 10px; 
    color: white;
    cursor: pointer;
    
    border-radius: 20px;
    display: inline-block;

  
  background-color: var(--primary-color);
  text-align: center;

  
}
.heart:hover {
  transform: translateY(-5px);
}

html {
  scroll-behavior: smooth;
}